<mat-card [formGroup]="mainForm" class="main-form">
  <mat-card-title>Register</mat-card-title>
  <mat-card class="form-card" formGroupName="personalInfo">
    <mat-card-subtitle>General Informations</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName" />
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName" />
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card class="form-card">
    <mat-card-subtitle>How should we contact you ?</mat-card-subtitle>
    <mat-radio-group [formControl]="contactPreferenceCtrl">
      <mat-radio-button value="email">Email</mat-radio-button>
      <mat-radio-button value="phone">Phone</mat-radio-button>
    </mat-radio-group>
  </mat-card>
  <mat-card
    class="form-card"
    [formGroup]="emailForm"
    *ngIf="showEmailCtrl$ | async"
  >
    <mat-card-subtitle>Email</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Email adress</mat-label>
        <input type="text" matInput formControlName="email" />
        <mat-error>{{ getFormControlErrorTest(emailCtrl) }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm your email adress</mat-label>
        <input type="text" matInput formControlName="confirm" />
        <mat-error>{{ getFormControlErrorTest(confirmEmailCtrl) }}</mat-error>
      </mat-form-field>
    </div>
    <small class="error-text" *ngIf="showEmailError$ | async"
      >Adresses does not match</small
    >
  </mat-card>
  <mat-card class="form-card" *ngIf="showPhoneCtrl$ | async">
    <mat-card-subtitle>Phone</mat-card-subtitle>
    <mat-form-field appearance="fill">
      <mat-label>Phone number</mat-label>
      <input type="text" matInput [formControl]="phoneCtrl" />
      <mat-error>{{ getFormControlErrorTest(phoneCtrl) }}</mat-error>
    </mat-form-field>
  </mat-card>
  <mat-card class="form-card" [formGroup]="loginInfoForm">
    <mat-card-subtitle>Connexion Credentials</mat-card-subtitle>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username" />
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" />
        <mat-error>This field is required</mat-error>
        <small class="error-text" *ngIf="showPasswordError$ | async">Passwords does not match</small>
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card-actions *ngIf="mainForm.valid">
    <button
      mat-flat-button
      color="primary"
      (click)="onSubmitForm()"
      [disabled]="isLoading"
    >
      SAVE
    </button>
  </mat-card-actions>
  <mat-spinner
    *ngIf="isLoading"
    color="primary"
    mode="indeterminate"
  ></mat-spinner>
</mat-card>
